# Flow of Project

1. Data Collection
2. Data Preprocessing
3. Model Training
4. Website
5. Deployment

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
print(f"pandas version: {pd.__version__}")
movies = pd.read_csv('Dataset/tmdb_5000_movies.csv')

pandas version: 2.2.0

In [3]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [4]:
credits = pd.read_csv('Dataset/tmdb_5000_credits.csv')

In [5]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [6]:
movies.shape

(4803, 20)

In [7]:
credits.shape

(4803, 4)

In [8]:
movies.merge(credits, on='title')

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4804,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]",...,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238,9367,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4805,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],...,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5,72766,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4806,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...",...,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6,231617,"[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4807,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],...,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7,126186,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4808,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...",...,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16,25975,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [9]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [10]:
movies.shape

(4803, 20)

In [11]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [12]:
movies = movies[['id', 'title', 'overview', 'genres', 'keywords']]

In [13]:
movies.head(1)

,id,title,overview,genres,keywords
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":..."

### Missing Values

In [14]:
movies.isnull().sum()

id          0
title       0
overview    3
genres      0
keywords    0
dtype: int64

In [15]:
movies.dropna(inplace=True)

In [16]:
movies.isnull().sum()

id          0
title       0
overview    0
genres      0
keywords    0
dtype: int64

### Check Duplicate Data Rows

In [17]:
movies.duplicated().sum()

0

### Handle Genres

In [18]:
movies.head(1)

,id,title,overview,genres,keywords
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":..."

In [19]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [20]:
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [21]:
def genresconversion(obj):
    emptyList = []
    for i in ast.literal_eval(obj):
        emptyList.append(i['name'])
    return emptyList

In [22]:
genresconversion('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [23]:
movies['genres'] = movies['genres'].apply(genresconversion)

In [24]:
movies.head(2)

,id,title,overview,genres,keywords
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na..."

In [25]:
movies.iloc[0].keywords

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [26]:
movies['keywords'] = movies['keywords'].apply(genresconversion)

In [27]:
movies.head(2)

,id,title,overview,genres,keywords
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ..."

In [28]:
def collapsee(obj):
    emptyList = []
    for i in obj:
        emptyList.append(i.replace(" ", ""))
    return emptyList

In [29]:
movies['genres'] = movies['genres'].apply(collapsee)
movies['keywords'] = movies['keywords'].apply(collapsee)

In [30]:
movies.head(2)

,id,title,overview,genres,keywords
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad..."

In [31]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [32]:
movies['tags'] =  movies['overview']+movies['genres']+movies['keywords']

In [33]:
movies.head(1)

,id,title,overview,genres,keywords,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin..."

In [34]:
movies.iloc[0].tags

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.',
 'Action',
 'Adventure',
 'Fantasy',
 'ScienceFiction',
 'cultureclash',
 'future',
 'spacewar',
 'spacecolony',
 'society',
 'spacetravel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alienplanet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'loveaffair',
 'antiwar',
 'powerrelations',
 'mindandsoul',
 '3d']

In [35]:
new  = movies.drop(columns=['overview', 'genres', 'keywords'])

In [36]:
new.head(1)

      id   title                                               tags
0  19995  Avatar  [In, the, 22nd, century,, a, paraplegic, Marin...

In [37]:
new['tags'] = new['tags'].apply(lambda x:" ".join(x))

In [38]:
new.head(1)

      id   title                                               tags
0  19995  Avatar  In the 22nd century, a paraplegic Marine is di...

In [39]:
new.iloc[0].tags

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d'

In [40]:
new['tags'] = new['tags'].apply(lambda x:x.lower())

In [41]:
new.head(2)

,id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."

In [42]:
import nltk

In [43]:
from nltk.stem.porter import PorterStemmer

In [44]:
ps = PorterStemmer()

In [45]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [46]:
stem('In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d'
)

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d'

In [47]:
new['tags'] = new['tags'].apply(stem)

In [48]:
movies.head(1)

,id,title,overview,genres,keywords,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin..."

In [49]:
new.head(1)

      id   title                                               tags
0  19995  Avatar  in the 22nd century, a parapleg marin is dispa...

### Counter Vectorization

In [50]:
from sklearn.feature_extraction.text import CountVectorizer

In [51]:
cv = CountVectorizer(max_features= 5000, stop_words='english')

In [52]:
vector =  cv.fit_transform(new['tags']).toarray()

In [53]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [54]:
from sklearn.metrics.pairwise import cosine_similarity

In [55]:
similarity = cosine_similarity(vector)

In [56]:
similarity

array([[1.        , 0.09128709, 0.09128709, ..., 0.04622502, 0.        ,
        0.        ],
       [0.09128709, 1.        , 0.06666667, ..., 0.02531848, 0.        ,
        0.02817181],
       [0.09128709, 0.06666667, 1.        , ..., 0.02531848, 0.        ,
        0.        ],
       ...,
       [0.04622502, 0.02531848, 0.02531848, ..., 1.        , 0.03962144,
        0.04279605],
       [0.        , 0.        , 0.        , ..., 0.03962144, 1.        ,
        0.08817334],
       [0.        , 0.02817181, 0.        , ..., 0.04279605, 0.08817334,
        1.        ]])

In [57]:
len(similarity[0])

4800

### Recommend

In [58]:
def recommend(movie):
    index = new[new['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])), reverse=True, key = lambda x:x[1])

    for i in distances[1:6]:
        print(new.iloc[i[0]].title)

In [59]:
new[new['title'] == 'Avatar'].index[0]

0

In [60]:
sorted(list(enumerate(similarity[0])), reverse=True, key = lambda x:x[1])

[(0, 1.0000000000000002),
 (1213, 0.281271975231506),
 (539, 0.26940795304016235),
 (3723, 0.2676516895156553),
 (507, 0.2672612419124244),
 (61, 0.2545875386086578),
 (582, 0.25423758993656337),
 (2403, 0.251259453814803),
 (1191, 0.24873416908154544),
 (1201, 0.2457365935914952),
 (778, 0.24310831916315756),
 (4041, 0.23094010767585027),
 (1914, 0.22613350843332272),
 (151, 0.22360679774997894),
 (322, 0.22222222222222227),
 (972, 0.22047927592204916),
 (2780, 0.22047927592204916),
 (172, 0.21821789023599236),
 (74, 0.21650635094610968),
 (2327, 0.21428571428571427),
 (260, 0.20953951903123738),
 (3603, 0.20833333333333334),
 (1086, 0.2049728979374807),
 (495, 0.2041241452319315),
 (4185, 0.2041241452319315),
 (3667, 0.20333142711013955),
 (1438, 0.20211302086361077),
 (3322, 0.20211302086361077),
 (2966, 0.20064308847628196),
 (1198, 0.19999999999999998),
 (305, 0.19867985355975656),
 (373, 0.19641855032959654),
 (2994, 0.19641855032959654),
 (4, 0.19448665533052606),
 (220, 0.19245008972987526),
 (1272, 0.19245008972987526),
 (1326, 0.19245008972987526),
 (4399, 0.19245008972987526),
 (577, 0.19179881852291683),
 (1068, 0.18925832465255626),
 (1318, 0.18633899812498245),
 (83, 0.1849000654084097),
 (27, 0.18463723646899907),
 (168, 0.18446619684315546),
 (47, 0.18325416653445784),
 (2198, 0.18220272220337375),
 (36, 0.1800205749557739),
 (184, 0.1800205749557739),
 (4330, 0.1800205749557739),
 (91, 0.17960530202677488),
 (931, 0.17960530202677488),
 (3992, 0.17960530202677488),
 (41, 0.17588161767036212),
 (300, 0.17588161767036212),
 (942, 0.17588161767036212),
 (661, 0.17507524381296338),
 (1825, 0.17391639824998364),
 (3533, 0.17201561551404665),
 (1976, 0.1714985851425088),
 (595, 0.1701758234142103),
 (529, 0.17017582341421028),
 (342, 0.1677050983124842),
 (67, 0.16666666666666669),
 (1175, 0.16666666666666669),
 (31, 0.16666666666666666),
 (150, 0.16666666666666666),
 (2509, 0.16666666666666666),
 (94, 0.16343011261515333),
 (581, 0.16343011261515333),
 (2725, 0.16343011261515333),
 (1531, 0.1633660098032678),
 (149, 0.16169041669088863),
 (4003, 0.16169041669088863),
 (26, 0.16012815380508713),
 (187, 0.16012815380508713),
 (513, 0.15811388300841897),
 (1377, 0.15811388300841897),
 (275, 0.15748519708717798),
 (838, 0.15713484026367724),
 (7, 0.15617376188860607),
 (52, 0.15617376188860607),
 (111, 0.15617376188860607),
 (311, 0.15617376188860604),
 (294, 0.15474611514754322),
 (568, 0.15474611514754322),
 (127, 0.1529438225803745),
 (1341, 0.15249857033260467),
 (1352, 0.15249857033260467),
 (46, 0.15214515486254612),
 (579, 0.15214515486254612),
 (2069, 0.15214515486254612),
 (95, 0.15075567228888181),
 (108, 0.15075567228888181),
 (3157, 0.15061601901917732),
 (1473, 0.1506160190191773),
 (2754, 0.14937635992171197),
 (1270, 0.14907119849998599),
 (466, 0.14907119849998596),
 (935, 0.14907119849998596),
 (1482, 0.14907119849998596),
 (1390, 0.14816681483355557),
 (1294, 0.1474419561548971),
 (1932, 0.1474419561548971),
 (2490, 0.14731391274719738),
 (1959, 0.14583333333333331),
 (56, 0.14547859349066158),
 (249, 0.14547859349066158),
 (490, 0.14547859349066158),
 (1324, 0.14547859349066158),
 (843, 0.14506471329641488),
 (3349, 0.14506471329641488),
 (4072, 0.14506471329641488),
 (17, 0.14470719035407653),
 (461, 0.14291548761875733),
 (2163, 0.14291548761875733),
 (3404, 0.14291548761875733),
 (476, 0.14213381090374028),
 (487, 0.14213381090374028),
 (3774, 0.14213381090374028),
 (72, 0.14085904245475275),
 (413, 0.14085904245475275),
 (1802, 0.14085904245475275),
 (502, 0.14002800840280097),
 (483, 0.13900960937138318),
 (505, 0.13900960937138318),
 (668, 0.13900960937138318),
 (1367, 0.13900960937138318),
 (3975, 0.13900960937138318),
 (859, 0.1388888888888889),
 (1012, 0.1388888888888889),
 (4532, 0.1386750490563073),
 (777, 0.13736056394868904),
 (14, 0.13699915608779772),
 (1554, 0.13699915608779772),
 (134, 0.13608276348795434),
 (368, 0.13608276348795434),
 (773, 0.13608276348795434),
 (1155, 0.13608276348795434),
 (2372, 0.13608276348795434),
 (2578, 0.13608276348795434),
 (2175, 0.13518451760896877),
 (3617, 0.13518451760896877),
 (2127, 0.13483997249264842),
 (158, 0.1336306209562122),
 (3078, 0.1336306209562122),
 (4342, 0.1336306209562122),
 (126, 0.13344012817090595),
 (68, 0.13333333333333333),
 (1768, 0.13333333333333333),
 (2867, 0.13245323570650439),
 (1319, 0.13209898731686948),
 (138, 0.13176156917368248),
 (754, 0.13176156917368248),
 (1083, 0.13176156917368248),
 (2680, 0.13176156917368248),
 (3623, 0.13176156917368248),
 (4223, 0.13176156917368248),
 (208, 0.13074409009212268),
 (1093, 0.13074409009212268),
 (2054, 0.13074409009212268),
 (438, 0.1301448015738384),
 (937, 0.1301448015738384),
 (2444, 0.1301448015738384),
 (102, 0.12909944487358055),
 (189, 0.12909944487358055),
 (1735, 0.12909944487358055),
 (2783, 0.12909944487358055),
 (166, 0.12858612496840993),
 (549, 0.12858612496840993),
 (1271, 0.12830005981991682),
 (1652, 0.12830005981991682),
 (2965, 0.12830005981991682),
 (84, 0.12803687993289598),
 (678, 0.1259881576697424),
 (781, 0.1259881576697424),
 (1001, 0.1259881576697424),
 (1044, 0.1259881576697424),
 (1872, 0.1259881576697424),
 (2646, 0.1259881576697424),
 (3371, 0.1259881576697424),
 (369, 0.1256297269074015),
 (1569, 0.125),
 (2325, 0.125),
 (2474, 0.125),
 (2668, 0.125),
 (278, 0.12422599874998831),
 (557, 0.12422599874998831),
 (900, 0.12422599874998831),
 (1296, 0.12422599874998831),
 (2278, 0.12422599874998831),
 (122, 0.12379689211803457),
 (3729, 0.12379689211803457),
 (4667, 0.12379689211803457),
 (999, 0.12309149097933271),
 (182, 0.1228682967957476),
 (1053, 0.1228682967957476),
 (50, 0.1217161238900369),
 (121, 0.1217161238900369),
 (236, 0.1217161238900369),
 (422, 0.1217161238900369),
 (1298, 0.1217161238900369),
 (1827, 0.1217161238900369),
 (2735, 0.1217161238900369),
 (454, 0.12155415958157878),
 (870, 0.12155415958157878),
 (2541, 0.12155415958157878),
 (653, 0.12126781251816647),
 (808, 0.12126781251816647),
 (1345, 0.12126781251816647),
 (1667, 0.12126781251816647),
 (1709, 0.12126781251816647),
 (2317, 0.12126781251816647),
 (3993, 0.12126781251816647),
 (139, 0.12126781251816646),
 (160, 0.12097769771854958),
 (1611, 0.12028130608117205),
 (536, 0.12028130608117203),
 (232, 0.11973686801784994),
 (85, 0.11969747440993467),
 (589, 0.11952286093343936),
 (1491, 0.11952286093343936),
 (1217, 0.11904761904761904),
 (3230, 0.11904761904761904),
 (1495, 0.11785113019775793),
 (3714, 0.11785113019775793),
 (1412, 0.11785113019775792),
 (1506, 0.11785113019775792),
 (3207, 0.11785113019775792),
 (21, 0.1178511301977579),
 (28, 0.1178511301977579),
 (449, 0.1178511301977579),
 (3003, 0.1178511301977579),
 (123, 0.11669000700233413),
 (420, 0.11669000700233413),
 (889, 0.11666666666666667),
 (1610, 0.1160517706371319),
 (432, 0.11556254088025607),
 (5, 0.11556254088025605),
 (228, 0.11556254088025605),
 (1568, 0.11547005383792512),
 (200, 0.11470786693528086),
 (627, 0.11470786693528086),
 (2515, 0.11470786693528086),
 (3142, 0.11470786693528086),
 (4128, 0.11470786693528086),
 (1939, 0.11433239009500587),
 (2066, 0.11433239009500587),
 (3423, 0.11433239009500587),
 (238, 0.11396057645963795),
 (692, 0.11340230290662862),
 (3304, 0.11340230290662862),
 (81, 0.11322770341445956),
 (87, 0.1126872339638022),
 (295, 0.1126872339638022),
 (332, 0.1126872339638022),
 (472, 0.1126872339638022),
 (643, 0.1126872339638022),
 (1028, 0.1126872339638022),
 (4462, 0.1126872339638022),
 (262, 0.11236664374387369),
 (2366, 0.11236664374387369),
 (572, 0.11236664374387367),
 (307, 0.11226255234242723),
 (105, 0.11180339887498947),
 (157, 0.11180339887498947),
 (233, 0.11180339887498947),
 (256, 0.11180339887498947),
 (319, 0.11180339887498947),
 (1518, 0.11180339887498947),
 (1739, 0.11180339887498947),
 (2155, 0.11180339887498947),
 (3050, 0.11180339887498947),
 (3088, 0.11135885079684349),
 (3625, 0.11135885079684349),
 (229, 0.1111111111111111),
 (687, 0.1111111111111111),
 (786, 0.1111111111111111),
 (1234, 0.1111111111111111),
 (1765, 0.1111111111111111),
 (3335, 0.1111111111111111),
 (3493, 0.1111111111111111),
 (4090, 0.1111111111111111),
 (4771, 0.1111111111111111),
 (170, 0.11037769642208699),
 (467, 0.11037769642208699),
 (541, 0.11037769642208699),
 (939, 0.10976425998969033),
 (131, 0.10959932487023819),
 (223, 0.10959932487023819),
 (33, 0.10910894511799618),
 (1163, 0.10910894511799618),
 (1277, 0.10910894511799618),
 (2450, 0.10910894511799618),
 (2628, 0.10910894511799618),
 (3832, 0.10910894511799618),
 (654, 0.10849075915068657),
 (330, 0.10814761408717502),
 (1034, 0.10814761408717502),
 (1192, 0.10814761408717502),
 (2811, 0.10814761408717502),
 (1449, 0.10758287072798378),
 (1490, 0.10758287072798378),
 (2100, 0.10758287072798378),
 (75, 0.10675210253672475),
 (207, 0.10675210253672475),
 (1291, 0.10675210253672475),
 (2492, 0.10669739994407998),
 (35, 0.10660035817780521),
 (624, 0.10660035817780521),
 (2756, 0.10660035817780521),
 (3616, 0.10660035817780521),
 (3947, 0.10660035817780521),
 (445, 0.10540925533894598),
 (508, 0.10540925533894598),
 (3629, 0.10540925533894598),
 (3748, 0.10540925533894598),
 (3867, 0.10540925533894598),
 (3436, 0.104990131391452),
 (1399, 0.10499013139145198),
 (1433, 0.10499013139145198),
 (878, 0.10425720702853739),
 (1153, 0.10425720702853739),
 (1936, 0.10425720702853739),
 (2556, 0.10425720702853739),
 (3655, 0.10425720702853739),
 (4325, 0.10425720702853739),
 (10, 0.10411584125907071),
 (510, 0.10411584125907071),
 (985, 0.10411584125907071),
 (1079, 0.10411584125907071),
 (1608, 0.10411584125907071),
 (2142, 0.10411584125907071),
 (3147, 0.10411584125907071),
 (363, 0.10336227882434039),
 (2433, 0.10336227882434039),
 (266, 0.10286889997472794),
 (312, 0.10286889997472794),
 (334, 0.10286889997472794),
 (480, 0.10286889997472794),
 (535, 0.10286889997472794),
 (898, 0.10286889997472794),
 (1395, 0.10286889997472794),
 (2235, 0.10286889997472794),
 (1769, 0.10257624248277726),
 (263, 0.10206207261596575),
 (362, 0.10206207261596575),
 (511, 0.10206207261596575),
 (660, 0.10206207261596575),
 (715, 0.10206207261596575),
 (1024, 0.10206207261596575),
 (1074, 0.10206207261596575),
 (1878, 0.10206207261596575),
 (2047, 0.10206207261596575),
 (3532, 0.10206207261596575),
 (4011, 0.10206207261596575),
 (4484, 0.10206207261596575),
 (2093, 0.10180787029692101),
 (9, 0.10166571355506977),
 (371, 0.10166571355506977),
 (1817, 0.10166571355506977),
 (2241, 0.10166571355506977),
 (3615, 0.10166571355506977),
 (3928, 0.10166571355506977),
 (412, 0.10050378152592121),
 (534, 0.10050378152592121),
 (2247, 0.10050378152592121),
 (491, 0.10032154423814099),
 (356, 0.1),
 (791, 0.1),
 (1715, 0.1),
 (1721, 0.1),
 (2781, 0.1),
 (4191, 0.1),
 (4397, 0.1),
 (4466, 0.1),
 (18, 0.09960238411119947),
 (206, 0.09950371902099889),
 (11, 0.09938079899999065),
 (814, 0.09938079899999065),
 (1106, 0.09938079899999065),
 (3776, 0.09938079899999065),
 (410, 0.09829463743659808),
 (1686, 0.09829463743659808),
 (2482, 0.09829463743659808),
 (2550, 0.09829463743659808),
 (2814, 0.09829463743659808),
 (12, 0.09805806756909201),
 (148, 0.09805806756909201),
 (219, 0.09805806756909201),
 (244, 0.09805806756909201),
 (325, 0.09805806756909201),
 (389, 0.09805806756909201),
 (1750, 0.09805806756909201),
 (4196, 0.09805806756909201),
 (4249, 0.09805806756909201),
 (301, 0.0975342893301088),
 (243, 0.09724332766526303),
 (473, 0.09724332766526303),
 (2586, 0.09724332766526303),
 (785, 0.09687303228651606),
 (4539, 0.09687303228651606),
 (813, 0.09622504486493763),
 (1273, 0.09622504486493763),
 (1354, 0.09622504486493763),
 (1440, 0.09622504486493763),
 (1658, 0.09622504486493763),
 (2874, 0.09622504486493763),
 (3713, 0.09622504486493763),
 (4496, 0.09622504486493763),
 (167, 0.09622504486493762),
 (564, 0.09622504486493762),
 (920, 0.09622504486493762),
 (977, 0.09622504486493762),
 (1303, 0.09622504486493762),
 (1468, 0.09622504486493762),
 (1567, 0.09622504486493762),
 (1680, 0.09622504486493762),
 (2087, 0.09622504486493762),
 (2245, 0.09622504486493762),
 (2390, 0.09622504486493762),
 (2639, 0.09622504486493762),
 (230, 0.09558988911273406),
 (239, 0.09558988911273406),
 (799, 0.09558988911273406),
 (596, 0.09523809523809523),
 (602, 0.09523809523809523),
 (994, 0.09523809523809523),
 (1695, 0.09523809523809523),
 (1990, 0.09523809523809523),
 (2644, 0.09523809523809523),
 (23, 0.0944911182523068),
 (400, 0.0944911182523068),
 (1139, 0.0944911182523068),
 (1474, 0.0944911182523068),
 (2645, 0.0944911182523068),
 (2952, 0.0944911182523068),
 (3444, 0.0944911182523068),
 (2564, 0.09435641951204964),
 (43, 0.09428090415820634),
 (270, 0.09428090415820634),
 (1840, 0.09428090415820634),
 (3384, 0.09428090415820634),
 (3402, 0.09428090415820634),
 (3874, 0.09428090415820634),
 (331, 0.09335200560186731),
 (1230, 0.09335200560186731),
 (1777, 0.09335200560186731),
 (88, 0.09284766908852593),
 (457, 0.09284766908852593),
 (1246, 0.09284766908852593),
 (1256, 0.09284766908852593),
 (1583, 0.09284766908852593),
 (2654, 0.09284766908852593),
 (2862, 0.09284766908852593),
 (3443, 0.09284766908852593),
 (169, 0.09245003270420485),
 (752, 0.09245003270420485),
 (1524, 0.09245003270420485),
 (1692, 0.09245003270420485),
 (2357, 0.09245003270420485),
 (2850, 0.09245003270420485),
 (3175, 0.09245003270420485),
 (3457, 0.09245003270420485),
 (4347, 0.09245003270420485),
 (618, 0.09157370929912602),
 (1900, 0.09157370929912602),
 (1, 0.09128709291752768),
 (2, 0.09128709291752768),
 (141, 0.09128709291752768),
 (203, 0.09128709291752768),
 (292, 0.09128709291752768),
 (3317, 0.09128709291752768),
 (274, 0.09110136110168686),
 (479, 0.0909241209316635),
 (2109, 0.0909241209316635),
 (740, 0.09072184232530289),
 (1016, 0.09072184232530289),
 (2707, 0.09072184232530289),
 (2734, 0.09072184232530289),
 (4337, 0.09072184232530289),
 (129, 0.08989331499509895),
 (143, 0.08989331499509895),
 (234, 0.08989331499509895),
 (827, 0.08989331499509895),
 (3548, 0.08989331499509895),
 (142, 0.08980265101338746),
 (745, 0.08980265101338746),
 (960, 0.08980265101338746),
 (1682, 0.08980265101338746),
 (1094, 0.08980265101338744),
 (2442, 0.08934271123648291),
 (32, 0.0890870806374748),
 (199, 0.0890870806374748),
 (217, 0.0890870806374748),
 (381, 0.0890870806374748),
 (1302, 0.0890870806374748),
 (1826, 0.0890870806374748),
 (2333, 0.0890870806374748),
 (2790, 0.0890870806374748),
 (3551, 0.0890870806374748),
 (4510, 0.0890870806374748),
 (4581, 0.0890870806374748),
 (315, 0.08838834764831843),
 (341, 0.08838834764831843),
 (2577, 0.08838834764831843),
 (3130, 0.08838834764831843),
 (3296, 0.08838834764831843),
 (48, 0.08830215713766959),
 (190, 0.08753762190648169),
 (2348, 0.08753762190648169),
 (152, 0.08703882797784893),
 (227, 0.08703882797784893),
 (775, 0.08703882797784893),
 (894, 0.08703882797784893),
 (901, 0.08703882797784893),
 (1266, 0.08703882797784893),
 (4748, 0.08703882797784893),
 (1633, 0.08679260732054925),
 (2963, 0.08679260732054925),
 (62, 0.08606629658238703),
 (403, 0.08606629658238703),
 (584, 0.08606629658238703),
 (776, 0.08606629658238703),
 (850, 0.08606629658238703),
 (866, 0.08606629658238703),
 (1002, 0.08606629658238703),
 (3213, 0.08606629658238703),
 (3971, 0.08606629658238703),
 (4731, 0.08606629658238703),
 (37, 0.08574929257125441),
 (242, 0.08574929257125441),
 (547, 0.08574929257125441),
 (1204, 0.08574929257125441),
 (1743, 0.08574929257125441),
 (2122, 0.08574929257125441),
 (2298, 0.08574929257125441),
 (3135, 0.08574929257125441),
 (3465, 0.08574929257125441),
 (4554, 0.08574929257125441),
 (501, 0.08535791995526398),
 (19, 0.08466675133346033),
 (96, 0.08451542547285165),
 (164, 0.08451542547285165),
 (245, 0.08451542547285165),
 (306, 0.08451542547285165),
 (329, 0.08451542547285165),
 (626, 0.08451542547285165),
 (1286, 0.08451542547285165),
 (1513, 0.08451542547285165),
 (2161, 0.08451542547285165),
 (2213, 0.08451542547285165),
 (2655, 0.08451542547285165),
 (38, 0.08399210511316159),
 (45, 0.08399210511316159),
 (812, 0.08399210511316159),
 (2197, 0.08399210511316159),
 (2380, 0.08375315127160099),
 (16, 0.08333333333333333),
 (112, 0.08333333333333333),
 (402, 0.08333333333333333),
 (737, 0.08333333333333333),
 (899, 0.08333333333333333),
 (1515, 0.08333333333333333),
 (1528, 0.08333333333333333),
 (1741, 0.08333333333333333),
 (2473, 0.08333333333333333),
 (2665, 0.08333333333333333),
 (2859, 0.08333333333333333),
 (2871, 0.08333333333333333),
 (3097, 0.08333333333333333),
 (3522, 0.08333333333333333),
 (3919, 0.08333333333333333),
 (4158, 0.08333333333333333),
 (4486, 0.08333333333333333),
 (4562, 0.08333333333333333),
 (4620, 0.08333333333333333),
 (4635, 0.08333333333333333),
 (4648, 0.08333333333333333),
 (4651, 0.08333333333333333),
 (486, 0.08291976585083241),
 (63, 0.08268982305947231),
 (222, 0.08268982305947231),
 (1920, 0.08268982305947231),
 (39, 0.08219949365267865),
 (70, 0.08219949365267865),
 (71, 0.08219949365267865),
 (101, 0.08219949365267865),
 (174, 0.08219949365267865),
 (349, 0.08219949365267865),
 (632, 0.08219949365267865),
 (787, 0.08219949365267865),
 (854, 0.08219949365267865),
 (922, 0.08219949365267865),
 (1077, 0.08219949365267865),
 (1158, 0.08219949365267865),
 (1322, 0.08219949365267865),
 (2638, 0.08219949365267865),
 (2677, 0.08219949365267865),
 (3809, 0.08219949365267865),
 (4335, 0.08219949365267865),
 (153, 0.08206099398622181),
 (2786, 0.08206099398622181),
 (3898, 0.08206099398622181),
 (103, 0.08144629623753681),
 (193, 0.08132500607904443),
 (40, 0.08111071056538127),
 (210, 0.08111071056538127),
 (3228, 0.08111071056538127),
 (4310, 0.08111071056538127),
 (286, 0.08084520834544431),
 (992, 0.08084520834544431),
 (1136, 0.08084520834544431),
 (1320, 0.08084520834544431),
 (3121, 0.08084520834544431),
 (3425, 0.08084520834544431),
 (3721, 0.08084520834544431),
 (3825, 0.08084520834544431),
 (4273, 0.08084520834544431),
 (4467, 0.08084520834544431),
 (4500, 0.08084520834544431),
 (1822, 0.0802572353905128),
 (1918, 0.0802572353905128),
 (3555, 0.0802572353905128),
 (241, 0.08006407690254357),
 (365, 0.08006407690254357),
 (634, 0.08006407690254357),
 (680, 0.08006407690254357),
 (885, 0.08006407690254357),
 (1006, 0.08006407690254357),
 (1517, 0.08006407690254357),
 (2933, 0.08006407690254357),
 (3023, 0.08006407690254357),
 (3086, 0.08006407690254357),
 (3159, 0.08006407690254357),
 (246, 0.07968190728895957),
 (1653, 0.07911877721292354),
 (98, 0.07905694150420949),
 (361, 0.07905694150420949),
 (503, 0.07905694150420949),
 (794, 0.07905694150420949),
 (1110, 0.07905694150420949),
 (1361, 0.07905694150420949),
 (2157, 0.07905694150420949),
 (2289, 0.07905694150420949),
 (3757, 0.07905694150420949),
 (4038, 0.07905694150420949),
 (4261, 0.07905694150420949),
 (4552, 0.07905694150420949),
 (4618, 0.07905694150420949),
 (125, 0.07881104062391006),
 (205, 0.07856742013183862),
 (800, 0.07856742013183862),
 (1251, 0.07856742013183862),
 (1615, 0.07856742013183862),
 (1649, 0.07856742013183862),
 (1999, 0.07856742013183862),
 (2108, 0.07856742013183862),
 (2268, 0.07856742013183862),
 (2311, 0.07856742013183862),
 (2320, 0.07856742013183862),
 (2375, 0.07856742013183862),
 (2706, 0.07856742013183862),
 (3067, 0.07856742013183862),
 (3150, 0.07856742013183862),
 (3478, 0.07856742013183862),
 (82, 0.07808688094430304),
 (492, 0.07808688094430304),
 (540, 0.07808688094430304),
 (1067, 0.07808688094430304),
 (1617, 0.07808688094430304),
 (2443, 0.07808688094430304),
 (2983, 0.07808688094430304),
 (2250, 0.07802743146408704),
 (1279, 0.07749842582921285),
 (235, 0.07715167498104596),
 (1287, 0.07715167498104596),
 (1290, 0.07715167498104596),
 (2015, 0.07715167498104596),
 (3694, 0.07715167498104596),
 (3844, 0.07715167498104596),
 (4198, 0.07715167498104596),
 (3326, 0.0770416939201707),
 (51, 0.07698003589195009),
 (100, 0.07647191129018724),
 (1404, 0.07647191129018724),
 (1764, 0.07647191129018724),
 (1984, 0.07647191129018724),
 (2206, 0.07647191129018724),

In [61]:
recommend("Avatar")

Aliens vs Predator: Requiem
Titan A.E.
Falcon Rising
Independence Day
Jupiter Ascending

In [62]:
import pickle

In [63]:
pickle.dump(new, open('Model/movies_list.pkl', 'wb'))

In [64]:
pickle.dump(new, open('Model/similarity.pkl', 'wb'))

In [65]:
recommend("The Dark Knight Rises")

The Dark Knight
Batman Forever
Batman Returns
Batman
Batman & Robin

In [66]:
from sklearn.metrics import precision_score, recall_score, f1_score

# Assuming 'ground_truth' is a list of actual values (1 for relevant, 0 for not relevant)
# and 'predicted' is a list of predicted values (1 for recommended, 0 for not recommended)
ground_truth = [1, 0, 1, 1, 0]  # Replace this with your actual values
predicted = [1, 1, 1, 0, 0]      # Replace this with your predicted values

# Calculate precision
precision = precision_score(ground_truth, predicted)

# Calculate recall
recall = recall_score(ground_truth, predicted)

# Calculate F1-score
f1 = f1_score(ground_truth, predicted)

print(f'Precision: {precision:.2f}')
print(f'Recall: {recall:.2f}')
print(f'F1-Score: {f1:.2f}')

Precision: 0.67
Recall: 0.67
F1-Score: 0.67